@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    width: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(113, 115, 119, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin:10px;
    background: transparent;
    box-shadow: 0 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #fefefe;
}

button{
    border: none;
    width: 60px;
    height:60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0 3px 15px rgba(36, 35, 35, 0.922);
    cursor: pointer;
}

.equlaBTn{
    background: #f26326;
    color: #ffffff;
}